
{% extends "base.html" %}
{% block content %}
    <h1>About Us</h1>
    <p>This project uses a Convolutional Neural Network (CNN) to classify chest X-rays and CT scans into three categories: COVID-19, Pneumonia, and Normal.</p>
    <p>The COVID-19 pandemic highlighted the need for rapid, accurate diagnostic tools. Imaging techniques like chest X-rays and CT scans provide valuable insights into the disease's impact on the lungs.</p>
    <p>Manual analysis can be time-consuming and prone to errors. This project proposes the design and development of a neural network architecture tailored for the rapid detection of COVID-19 from chest X-ray and CT scan images.</p>
{% endblock %}

